:root{
    --grey: #d9d9d9;
    --icon: #2f2f2f;
}

.obj-fit {
  object-fit: cover;
}

.navbar {
    height: 80px;
    border-width: 0 0 4px 0 !important;
    border-radius: 0 0 4px 0 !important;
}

.navbar-brand {
    color: #ffffff;
}

.top{
    height: calc(100vh - 83px);
}

.text-shadow {
    text-shadow: 0 3px 1px black;
}

.lead {
    text-shadow: 0 1.5pt 0 black;
}

.nav-link {
    font-weight: bold;
    color: #0a0a0a !important;
}

.nav-link:hover {
    text-decoration: underline;
    color: #979797 !important;
}

.nav-item:hover.special-border{
    background-color: #979797 !important;
    
    .nav-link{
        color: #000 !important;
    }
}

.nav-item:active.special-border{
    background-color: #cdcdcd !important;
}

h5 {
    margin: 0;
}

a, a:active {
    color: none;
    text-decoration: none;
}

.simple-background{
    background: var(--grey);
}

.special-background{
    color: #000;
    background: rgb(196,196,196);
    background: radial-gradient(circle, rgb(163, 163, 163) 0%, rgb(94, 94, 94) 100%);
}

.special-border{
    border-color: #000;
    border-style: solid;
    border-width: 2px 2px 4px 2px;
    border-radius: 10px;
}

.navbar-toggler{
    background-color: var(--grey);
    margin-right: 20px;
}

.navbar-toggler-icon{
    color: red !important;
}
img{
    border-radius: 6px !important;
}

.spin {
    font-size: 40px;
    animation: spin 1s linear infinite;
}

#carouselLanding{
    background-color: var(--grey);
    border-radius: 10px !important;
}

.carousel-control-prev,
.carousel-control-next {
    background: rgba(245, 245, 245, 0.291);
}

/* Social */
.wrapper .button {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #eeecec;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wrapper .button:hover {
    width: 160px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 40px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon i {
    font-size: 20px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: var(--icon);
}

.wrapper .button:nth-child(2):hover .icon{
    background: var(--icon);
}

.wrapper .button:nth-child(3):hover .icon {
    background: var(--icon);
}

.facebook, .facebook:hover {
    color: var(--icon);
}

.instagram, .instagram:hover {
    color: var(--icon);
}

.youtube, .youtube:hover {
    color: var(--icon);
}

.facebook {
    color: var(--icon);
}

.instagram {
    color: var(--icon);
}

.youtube {
    color: var(--icon);
}

.warning{
    background-color: #f9f9cc;
}

.success{
    background-color: #eaffec;
}

.info{
    background-color: #97ecfb;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Cards - planos */

.card:hover{
    background-color: white;
    cursor: pointer;

    .card-title{
        background-color: grey;
    }

    .strong{
        color: grey;

    }
}

/* changes */
.img-thumbnail {
  border-radius: 8px 8px 0 0  !important;
  border: none;
  padding: 0;
}

body {
  font-family: Rubik, sans-serif;
}

.custom .bg-black {
  background: black;
}

.custom .fg-black {
  color: black;
}

.custom .fg-white {
  color: white;
}

.logo {
  width: 100px;
  position: relative;
  animation: logo-anim 4s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

TODO::after {
  content: ' *';
  color: red;
}

label .special-border {
    color: black;
    content: '';
}

@keyframes logo-anim {
    0% {
        left: 0;
    }
    25% {
        left: -30%;
    }
    50% {
        left: 0;
        transform: scale(-1, 1);
    }
    75% {
        left: 30%;
    }
    100% {
        transform: scale(1, 1);
        left: 0;
    }
}

hr {
  opacity: 1;
  border: 1px solid black;
}

.max-height-50vh {
    max-height: 50vh;
}

/* end of changes */



.grad {
    background: linear-gradient(270deg, #a3a3a3, #878787, #a3a3a3);
    background-size: 600% 600%;

    -webkit-animation: GradientPos 30s ease infinite;
    -moz-animation: GradientPos 30s ease infinite;
    animation: GradientPos 30s ease infinite;
}

@-webkit-keyframes GradientPos {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientPos {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientPos {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (max-width: 767px) {
   /* Styles for screens smaller than 768px wide */
   #carouselLanding {
      /* Adjust styles for the carousel container */
      margin-bottom: 10px; /* Add a margin to separate it from the section below */
   }

   #planos {
      /* Adjust styles for the "Secção Planos" container */
      margin-top: 10px; /* Add a margin to separate it from the carousel above */
   }
}
